@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #272626; 
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #0e0202; 
  border-radius: 10px; 
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background-color: #777; 
}
